*{
    padding: 0%;
    margin: 0%;
    border: 0%;
    color: black;
    text-decoration: none;
}
body{
    background
}
a{
    color: black;
}
nav{
    background: white;
    border: white;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a{
    color: black;
}
#logo{
    width: 150px;
    margin-right: 30px;
    margin-left: 80px;
    margin-top: -5px;
}
.btn.btn-default{
    margin-right: 15px;
    margin-top: 7px;
    width: 120px;
    border-color:#FF6122;
    background: white;
    font-weight: bold;
}
.fondo{
    width: 100%;
}
footer{
    background: rgb(240, 240, 240);
    height: 50px;
    margin-top: 850px;
}
footer a{
    margin-bottom: 20px;
    margin-top: 20px;
}
.col-md-1{
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}
p{
    margin-top: 20px;
}
h1{
    margin-top:100px;
    margin-left: 570px;
    font-size: 50px;
    font-weight: bold;
}
#newLink{
    margin-left: 580px;
}