
#boton:hover{
background:  #2EC1CD;

}

.navbar{
background: black;
}





#jumbotron{
	color: white;
	text-align: center;
	height: 30px;

}

.jumbotron{
	background: #2EC1CD;
}

.jumbotron:hover{
	color: #100099;

	}
